<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TIW-DMS - Document Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
</head>
<body>
<div class="hero is-fullheight">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-6 is-offset-2">
                    <div class="box">
                        <section class="section">
                            <h1 class="title">Document Management ➕</h1>
                            <div class="content">
                                <p th:if="${message}" th:text="${message}">Here you can create a new folder, a new
                                    subfolder or a new document.</p>
                            </div>
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">Add a New Root Folder</p>
                                    <button aria-label="more options" class="card-header-icon">
                                        <span class="icon">
                                          <i aria-hidden="true" class="fas fa-folder"></i>
                                        </span>
                                    </button>
                                </header>
                                <form action="create/create-folder" method="GET">
                                    <div class="card-content">
                                        <div class="field">
                                            <label class="label" for="folderName-one">Folder Name</label>
                                            <div class="control has-icons-left">
                                                <input class="input" id="folderName-one" maxlength="63" minlength="1"
                                                       name="folderName" placeholder="e.g. newRootFolder" required
                                                       type="text">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-text-width"></i>
                                            </span>
                                            </div>
                                        </div>
                                        <input name="folderID" type="hidden" value="-1">
                                    </div>
                                    <footer class="card-footer">
                                        <div class="card-footer-item">
                                            <button class="button card-footer-item" type="submit">Create!</button>
                                        </div>
                                    </footer>
                                </form>
                            </div>
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">Add a New Subfolder</p>
                                    <button aria-label="more options" class="card-header-icon">
                                        <span class="icon">
                                          <i aria-hidden="true" class="fas fa-folder-open"></i>
                                        </span>
                                    </button>
                                </header>
                                <form action="home" method="GET">
                                    <div class="card-content">
                                        <div class="field">
                                            <label class="label" for="folderName-two">Folder Name</label>
                                            <div class="control has-icons-left">
                                                <input class="input" id="folderName-two" maxlength="63" minlength="1"
                                                       name="folderName" placeholder="e.g. newSubfolder" required
                                                       type="text">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-text-width"></i>
                                            </span>
                                            </div>
                                        </div>
                                        <input name="actionCode" type="hidden" value="2">
                                    </div>
                                    <footer class="card-footer">
                                        <div class="card-footer-item">
                                            <button class="button card-footer-item" type="submit">Select the parent
                                                folder!
                                            </button>
                                        </div>
                                    </footer>
                                </form>
                            </div>
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">Create a New Document</p>
                                    <button aria-label="more options" class="card-header-icon">
                                        <span class="icon">
                                          <i aria-hidden="true" class="fas fa-file-text"></i>
                                        </span>
                                    </button>
                                </header>
                                <form action="home" method="GET">
                                    <div class="card-content">
                                        <div class="field">
                                            <label class="label" for="documentName">Document Name</label>
                                            <div class="control has-icons-left">
                                                <input class="input" id="documentName" maxlength="63" minlength="1"
                                                       name="documentName" placeholder="e.g. newDocument" required
                                                       type="text">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-text-width"></i>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label" for="documentType">Type</label>
                                            <div class="control has-icons-left">
                                                <input class="input" id="documentType" maxlength="63" minlength="1"
                                                       name="type" placeholder="e.g. PDF" required type="text">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-flask"></i>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label" for="documentSummary">Summary</label>
                                            <div class="control has-icons-left">
                                                <textarea class="textarea" id="documentSummary" maxlength="255"
                                                          minlength="1" name="summary"
                                                          placeholder="e.g. Classified document, do not share!" required
                                                ></textarea>
                                            </div>
                                        </div>
                                        <input name="actionCode" type="hidden" value="1">
                                    </div>
                                    <footer class="card-footer">
                                        <div class="card-footer-item">
                                            <button class="button card-footer-item" type="submit">Select the desired
                                                folder!
                                            </button>
                                        </div>
                                    </footer>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="box">
                        <aside class="menu">
                            <p class="menu-label">Actions ⚙️</p>
                            <ul class="menu-list">
                                <!-- FIXME: Add link -->
                                <li><a href="TODO">🔙 Back</a></li>
                                <li><a href="logout">🚪 Logout</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>