<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Content management</h2>

<div th:if="${message}" th:text="${message}"></div>

<div>
    <h3>Create a new root folder</h3>
    <form action="content-management" method="post">
        <label for="folderName">Folder name:</label>
        <input type="text" id="folderName" name="folderName">
        <input type="hidden" id="parentFolderID" value="-1">
        <input type="submit" value="Create">
    </form>
</div>

</body>
</html>