<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Document Management</h1>

<div th:if="${message}" th:text="${message}"></div>

<div>
    <h3>Create a new root folder</h3>
    <form action="create/create-folder" method="get">
        <label for="folderName">Folder name:</label>
        <input id="folderName" name="folderName" type="text">
        <input name="parentFolderID" type="hidden" value="-1">
        <button type="submit">Create</button>
    </form>
</div>

<div>
    <h3>Create a new subfolder</h3>
    <form action="home" method="get">
        <label for="folderName">Folder name:</label>
        <input id="folderName" name="folderName" type="text">
        <input name="actionCode" type="hidden" value="2">
        <button formaction="home" type="submit">Choose the parent folder</button>
    </form>
</div>

<div>
    <h3>Create a new document</h3>
    <form action="home" method="get">
        <div>
            <label for="documentName">Document Name:</label>
            <input id="documentName" name="documentName" type="text">
        </div>
        <div>
            <label for="type">Type:</label>
            <input id="type" name="type" type="text">
        </div>
        <div>
            <label for="summary">Summary:</label>
            <input id="summary" name="summary" type="text">
        </div>
        <input name="actionCode" type="hidden" value="1">
        <button formaction="home" type="submit">Choose the parent folder</button>
    </form>
</div>

</body>
</html>