<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Folder Tree</title>
</head>
<body>

<h1>My AwesomeHomePage</h1>

<a href="logout">Logout</a>

<div th:if="${message}" th:text="${message}"></div>

<ul th:insert="~{::subtree(fragment='subtree')}" th:with="nodes=${foldersTree.getNodeChildren}"></ul>

<!-- Recursive fragment for rendering subtrees -->
<div th:fragment="subtree">
    <li th:each="node : ${nodes}">
        <a th:href="@{${folderURL}(folderID=${node.getNodeData.getFolderID})}"
           th:text="${node.getNodeData.getFolderName}"></a>
        <ul th:if="${node.getNodeChildren.size() > 0}" th:insert="~{::subtree(fragment='subtree')}"
            th:with="nodes=${node.getNodeChildren}"></ul>
    </li>
</div>
</body>
</html>