<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TIW-DMS - Homepage</title>
    <link href="webjars/bulma/1.0.1/css/bulma.min.css" rel="stylesheet">
    <link href="webjars/font-awesome/6.5.2/css/all.min.css" rel="stylesheet"/>
    <style>
        .red-folder {
            color: red;
            text-decoration: line-through;
        }
    </style>
</head>
<body>
<div class="hero is-fullheight">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-6 is-offset-2">
                    <div class="box">
                        <section class="section">
                            <h1 class="title">Homepage 🏠</h1>
                            <article th:class="${messageContext == 0} ? 'message' :
                                               (${messageContext == 1} ? 'message is-success' : (
                                                ${messageContext == 2} ? 'message is-error' : 'message is-warning'))">
                                <div class="message-body">
                                    <p th:if="${message}" th:text="${message}">
                                        Hi, welcome to the DMS!
                                    </p>
                                </div>
                            </article>
                            <div class="content">
                                <h1 class="title is-4">Directory Structure 🗂️</h1>
                                <!-- Starting point of the recursive algorithm -->
                                <ul th:insert="~{::subtree(fragment='subtree')}"
                                    th:with="nodes=${foldersTree.getNodeChildren},
                                     originalFolderID=${originalFolderID}"></ul>
                                <!-- Recursive fragment to explore the folder tree -->
                                <div th:fragment="subtree">
                                    <li th:each="node : ${nodes}">
                                        <span class="red-folder"
                                              th:if="${node.getNodeData.getFolderID} == ${originalFolderID}"
                                              th:text="${node.getNodeData.getFolderName}"></span>
                                        <a th:href="@{${folderURL}(folderID=${node.getNodeData.getFolderID})}"
                                           th:text="${node.getNodeData.getFolderName}"
                                           th:unless="${node.getNodeData.getFolderID} == ${originalFolderID}"></a>
                                        <!-- If the current node has children we need to continue the process -->
                                        <ul th:if="${node.getNodeChildren.size() > 0}"
                                            th:insert="~{::subtree(fragment='subtree')}"
                                            th:with="nodes=${node.getNodeChildren},
                                            originalFolderID=${originalFolderID}"></ul>
                                    </li>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="box">
                        <aside class="menu">
                            <p class="menu-label">Actions ⚙️</p>
                            <ul class="menu-list">
                                <!-- Reused messageContext variable as the context for the page is the same -->
                                <!-- Could be refactored to a new variable to make the code more readable -->
                                <li th:if="${messageContext == 0}">
                                    <a href="create">➕ Create New Folder/Document</a>
                                </li>
                                <li><a href="logout">🚪 Logout</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>