<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TIW-DMS - Authentication</title>
    <link href="webjars/bulma/1.0.1/css/bulma.min.css" rel="stylesheet">
    <link href="webjars/font-awesome/6.5.2/css/all.min.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
</head>
<body>
<div class="hero is-fullheight">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns is-vcentered">
                <div class="column is-three-fifths is-offset-one-fifth">
                    <div class="box">
                        <section class="section">
                            <h1 class="title">Authentication 🔒</h1>
                            <article th:class="${messageContext == 0} ? 'message' :
                                               (${messageContext == 1} ? 'message is-success' : 'message is-danger')">
                                <div class="message-body">
                                    <p th:if="${message}" th:text="${message}">
                                        Please enter your credentials to log in.
                                    </p>
                                </div>
                            </article>
                            <form action="#" method="POST" th:action="@{/login}">
                                <div class="field">
                                    <label class="label" for="username">Username</label>
                                    <div class="control has-icons-left">
                                        <input class="input" id="username" maxlength="63" minlength="1"
                                               name="username" pattern="^[a-zA-Z0-9]+$" placeholder="e.g. hi1234"
                                               required type="text">
                                        <span class="icon is-small is-left">
                                                <i class="fas fa-user"></i>
                                            </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="password">Password</label>
                                    <div class="control has-icons-left">
                                        <input class="input" id="password" maxlength="127" minlength="1"
                                               name="password" placeholder="e.g. ********" required type="password">
                                        <span class="icon is-small is-left">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-link" type="submit">Login</button>
                                    </div>
                                </div>
                            </form>
                            <div class="content">
                                <br>
                                <p>Don't have an account yet? You can register one <a href="register">here!</a></p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>