<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TIW-DMS</title>
</head>
<body>
<h1>TIW-DMS</h1>
<h2>User Registration</h2>
<div th:if="${message}" th:text="${message}"></div>
<form action="#" method="post" th:action="@{/register}">
    <div>
        <label for="username">Username:</label>
        <input id="username" name="username" required type="text">
    </div>
    <div>
        <label for="email">Email:</label>
        <input id="email" name="email" required type="email">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" name="password" required type="password">
    </div>
    <div>
        <label for="confirmPassword">Password Confirmation:</label>
        <input id="confirmPassword" name="confirmPassword" required type="password">
    </div>
    <button type="submit">Sign Up</button>
</form>
</body>
</html>