<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/resources/CSS.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>TIW-DMS - Authentication</title>
</head>
<body>
<!-- Container (vertical centering) -->
<div class="v-centering">
    <!-- Container (horizontal centering) -->
    <div class="h-centering">
        <!-- Columns (divide the horizontal space in 12 equal parts) -->
        <div class="columns">
            <!-- Column (occupy 6/12 parts and offsets it 3 parts to the right) -->
            <div class="column is-6 is-offset-3">
                <!-- Box (white background, padding, round corner, ...) -->
                <div class="box">
                    <!-- Subtitle -->
                    <div class="subtitle">
                        <h2>Authentication 🔒</h2>
                    </div>
                    <!-- Message -->
                    <div class="message>">
                        <div th:if="${message}" th:text="${message}">MESSAGE_PLACEHOLDER</div>
                    </div>
                    <br>
                    <!-- Form -->
                    <div class="form">
                        <form action="#" method="POST" th:action="@{/login}">
                            <div class="form-input">
                                <label for="username">Username:</label>
                                <input id="username" maxlength="63" minlength="1" name="username"
                                       pattern="^[a-zA-Z0-9]+$" required type="text">
                            </div>
                            <div class="form-input">
                                <label for="password">Password:</label>
                                <input id="password" maxlength="127" minlength="1" name="password" required
                                       type="password">
                            </div>
                            <button type="submit">Log in</button>
                        </form>
                    </div>
                    <br>
                    <!-- Link -->
                    <div class="link">
                        <div>Don't have an account yet? You can register one <a href="register">here!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>