<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TIW-DMS - Document Details</title>
    <link href="webjars/bulma/1.0.1/css/bulma.min.css" rel="stylesheet">
    <link href="webjars/font-awesome/6.5.2/css/all.min.css" rel="stylesheet"/>
</head>
<body>
<div class="hero is-fullheight">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-6 is-offset-2">
                    <div class="box">
                        <section class="section">
                            <h1 class="title is-4">Details of the file:</h1>
                            <h2 class="subtitle is-6"><span th:text="${document.documentName}">myAwesomeFile</span>
                            </h2>
                            <div class="content">
                                <fieldset disabled>
                                    <div class="field">
                                        <label class="label" for="name">Name</label>
                                        <div class="control has-icons-left">
                                            <input class="input" id="name" placeholder="e.g. myAwesomeFile"
                                                   th:value="${document.documentName}"
                                                   type="text" value="myAwesomeFile">
                                            <span class="icon is-small is-left">
                                                    <i class="fas fa-align-left"></i>
                                                </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label" for="type">Type</label>
                                        <div class="control has-icons-left">
                                            <input class="input" id="type" placeholder="e.g. PDF"
                                                   th:value="${document.type}" type="text"
                                                   value="PDF">
                                            <span class="icon is-small is-left">
                                                    <i class="fas fa-file"></i>
                                                </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label" for="creationDate">Creation Date</label>
                                        <div class="control has-icons-left">
                                            <input class="input" id="creationDate" placeholder="e.g. 25/07/2024"
                                                   th:value="${document.creationDate}"
                                                   type="text" value="25/07/2024">
                                            <span class="icon is-small is-left">
                                                    <i class="fas fa-calendar"></i>
                                                </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label" for="summary">Summary</label>
                                        <div class="control">
                                                <textarea class="input" id="summary"
                                                          placeholder="e.g. Classified Information, do not share!"
                                                          th:text="${document.summary}">
                                                </textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="box">
                        <aside class="menu">
                            <p class="menu-label">Actions ⚙️</p>
                            <ul class="menu-list">
                                <li th:with="folderID=${document.folderID}">
                                    <a th:href="@{/folder(folderID=${folderID})}">🔙 Back</a>
                                </li>
                                <li><a href="home">🏠 Home</a></li>
                                <li><a href="logout">🚪 Logout</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>