<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Details</title>
</head>
<body>
<h1>Document Details</h1>
<div>
    <strong>Name:</strong> <span th:text="${document.documentName}"></span>
</div>
<div>
    <strong>Creation Date:</strong> <span th:text="${document.creationDate}"></span>
</div>
<div>
    <strong>Type:</strong> <span th:text="${document.type}"></span>
</div>
<div>
    <strong>Summary:</strong> <span th:text="${document.summary}"></span>
</div>
</body>
</html>