<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TIW-DMS - Folder Content</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
</head>
<body>
<div class="hero is-fullheight">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-6 is-offset-2">
                    <div class="box">
                        <section class="section">
                            <h1 class="title is-4">Content of the folder:</h1>
                            <h2 class="subtitle is-6"><span th:text="${folderName}">myAwesomeFolder</span></h2>
                            <div class="content">
                                <p th:if="${message}" th:text="${message}">A document with the same name already
                                    exists in the destination directory. Please check your input and try again.</p>
                            </div>
                            <div class="content">
                                <h3 class="title is-5">🗂️ Subfolders</h3>
                                <ul>
                                    <li th:each="subfolder : ${subfolders}">
                                        <span th:text="${subfolder.folderName}">Folder1</span>
                                        <a th:href="@{/folder(folderID=${subfolder.folderID})}">>View</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <h3 class="title is-5">📑 Documents</h3>
                                <ul>
                                    <li th:each="document : ${documents}">
                                        <span th:text="${document.documentName}">Document1</span>
                                        <a th:href="@{/document(documentID=${document.documentID})}">>View</a>
                                        <a th:href="@{/home(actionCode=3, documentID=${document.documentID})}">>Move</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="box">
                        <aside class="menu">
                            <p class="menu-label">Actions ⚙️</p>
                            <ul class="menu-list">
                                <!-- FIXME: Need to fix later -->
                                <li><a href="TODO">⬆️ Parent Folder</a></li>
                                <!-- FIXME: I cannot use Javascript! -->
                                <li><a href="javascript:history.back()">🔙 Back</a></li>
                                <li><a href="logout">🚪 Logout</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>