<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${folderName}">Folder Name</title>
</head>
<body>
<h1 th:text="${folderName}">Folder Name</h1>
<div>
    <h2>Subfolders</h2>
    <ul>
        <li th:each="subfolder : ${subfolders}">
            <a th:href="@{/folder(folderID=${subfolder.folderID})}" th:text="${subfolder.folderName}">Subfolder Name</a>
        </li>
    </ul>
</div>
<div>
    <h2>Documents</h2>
    <ul>
        <li th:each="document : ${documents}">
            <a th:href="@{/document(documentID=${document.documentID})}" th:text="${document.documentName}">Document
                Name</a>
            <!-- Add a Move link next to each document name -->
            <a th:href="@{/home(actionCode=3, documentID=${document.documentID})}">Move</a>
        </li>
    </ul>
</div>
</body>
</html>